//
   Created by hazarin on 19.05.17.
doctype transitional
html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
        body
            h1 Please confirm your email
            p Click the lin bellow to confirm your Daily Clock account email
            a(href=link) Confirm email
