//
   Created by hazarin on 19.05.17.
doctype transitional
html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
        body
            h1.h1 Account confirmation email
            a(href={href}) Click here to activate your account
