//
   Created by hazarin on 25.05.17.
doctype transitional
html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
        body
            h1.h1 Password reset email
            p To set up new password for your A Daily Clock account
            a(href=link) Click here
