extends layout

block content
    h1= title
    p Welcome to #{title}
    //p#error !{flash.error}
    form(method='POST', action='/login')
        div
            label(for='email') Email:
                input#email(type="email" placeholder="Email" name="email")
        div
            label(for='password') Password:
                input#password(type="password" placeholder="Enter your password" name="password")
        button(type='submit') Login
